@import url("https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.207/distr/fira_code.css");
@import url('https://fonts.googleapis.com/css?family=Oswald:300,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*,*::before,*::after {
  box-sizing: border-box;
}

html {
  background-color: #fbfbfb;
  color: #303030;
  font-family: "Roboto", serif;
}

body {
  line-height: 1.6;
}

html,body {
  margin: 0;
}

h1 {
  margin: 0 0 1rem;
}

a {
  color: currentColor;
  text-decoration: none;
  border-bottom: dotted #aaa 1px;
}

a:hover {
  border-bottom: dotted #555 1px;
}

.sketch-date{
  font-family: "Fira Mono";
  color: rgb(155, 155, 155);
  
}

.sketches-list{
  margin-top: 2em;
}

ul {
  list-style-type:none;
}

.container h1{
  padding-top: 1em;
}

li {
  list-style:none;
  line-height: 2em;
  font-family: "Fira Mono";
}

article,section {
  display: block;
  margin-bottom: 1rem;
}

h2,h3,h4,h5,h6 {
  margin: 0 0 0.5rem;
}

.container {
  width: 100%;
  max-width: 38rem;
  margin: 0 auto;
  padding: 0.5rem;
}

@media screen and (min-width: 800px) {
  .container {
    padding: 1rem 0;
  }
}

.posts li {
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 800px) {
  .posts li {
    display: flex;
    flex-direction: row;
  }
}

.container.footer {
  color: #606060;
  font-family: monospace;
  margin-top: 5em;
}