@import url("https://fonts.googleapis.com/css?family=Fira+Mono&display=swap");

html,
body {
  margin: 0;
  background-color: #fbfbfb;
}

.sketch-title {
  font-size: 2.15rem;
  padding: 1rem 0 1rem 0;
}

.grid {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-areas: "form canvas";
  height: 100vh;
}

.form-container {
  grid-area: form;
  position: absolute;

  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  padding: 1em;
  margin: 1em;

  overflow-y: scroll;
  overflow-x: hidden;

  height: 90vh;
  max-width: 270px;
}

form {
  display: flex;
  flex-direction: column;
}

.credits {
  font-size: 0.9em;
}

#artwork-container {
  grid-area: canvas;

  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  height: 90vh;
}

canvas {
  max-width: 95% !important;
  max-height: 95% !important;
  height: auto !important;
  width: auto !important;
}

.footer {
  font-size: 0.8em;
  font-family: monospace;
  color: #606060;
}

label {
  color: #646464;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1em;
  font-weight: 600;
}
input {
  font-family: "Montserrat";
  margin-top: 1rem;
  border: none;
  border-bottom: solid #eee 2px;
  padding: 10px 10px 10px 5px;
  background: none;
  font-size: 18px;
  border-radius: 0;
  border-bottom: 2px solid #eeeeee;
  transition: all 300ms ease;
}

input:focus {
  border-bottom: solid #9ee2ff 2px;
  outline: none;
  box-shadow: none;
  transition: all 300ms ease;
}

input:active {
  border-bottom: solid #9ee2ff 2px;
  outline: none;
  box-shadow: none;
  transition: all 300ms ease;
}

button {
  border: none;
  background-color: #e8e8e8;
  margin: 0.2em;
  padding: 0.5em;
}

button:focus {
  outline: none;
  box-shadow: none;
}

button:active {
  outline: none;
  box-shadow: none;
}

button:hover {
  background-color: #ccc;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin: 0.5em 0;
}

a {
  flex: 0 1 min-content;
}

.dimension-input {
  display: flex;
  justify-content: space-between;
}
.dimension-input span {
  color: #666;
  font-size: 0.75em;
}

.home-link {
  font-family: "Fira Code";
  margin-bottom: 1em;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  margin: 5.5px 0;
  border-bottom: none !important;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #eee;
  border-radius: 25px;
  border: 0px solid rgba(0, 0, 0, 0);
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 1px solid rgba(0, 0, 0, 0.5);
  height: 14px;
  width: 14px;
  border-radius: 7px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.5px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #eee;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #eee;
  border-radius: 25px;
  border: 0px solid rgba(0, 0, 0, 0);
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 1px solid rgba(0, 0, 0, 0.5);
  height: 14px;
  width: 14px;
  border-radius: 7px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #eee;
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 50px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type="range"]::-ms-fill-upper {
  background: #eee;
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 50px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type="range"]::-ms-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 1px solid rgba(0, 0, 0, 0.5);
  height: 14px;
  width: 14px;
  border-radius: 7px;
  background: #ffffff;
  cursor: pointer;
  height: 3px;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #eee;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #eee;
}
